.searchTerm {
  width: 100%;
  border: 3px solid #393637;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search {
  width: 100%;
  position: center;
  display: flex;
}

.searchTerm:focus {
  color: #393637;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #393637;
  background: #393637;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  margin: 20px auto;
  /* change the margin to move where it is on the page */
}
